<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Wib_PerCustDiscount>
            <version>0.1.0</version>
        </Wib_PerCustDiscount>
    </modules>
    <global>

        <models>
            <wbdispatcher>
                <class>Wib_PerCustDiscount_Model</class>
            </wbdispatcher>
        </models>

        <events>
            <catalog_product_get_final_price>
                <observers>
                    <Wib_PerCustDiscount_price_observer>
                        <type>singleton</type>
                        <class>Wib_PerCustDiscount_Model_Observer</class>
                        <method>get_final_price</method>
                    </Wib_PerCustDiscount_price_observer>
                </observers>
            </catalog_product_get_final_price>

            <catalog_product_collection_load_after>
                <observers>
                    <Wib_PerCustDiscount_price_observer>
                        <type>model</type>
                        <class>Wib_PerCustDiscount_Model_Observer</class>
                        <method>get_final_list_price</method>
                    </Wib_PerCustDiscount_price_observer>
                </observers>
            </catalog_product_collection_load_after>
        </events>

        <resources>
            <Wib_PerCustDiscount_Setup>
                <setup>
                    <module>Wib_PerCustDiscount</module>
                    <class>Wib_PerCustDiscount_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Wib_PerCustDiscount_Setup>
            <Wib_PerCustDiscount_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Wib_PerCustDiscount_write>
            <Wib_PerCustDiscount_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Wib_PerCustDiscount_read>
        </resources>
    </global>
</config>